<div class="container mx-auto p-2">
    <div class="card bg-base-100 shadow-xl overflow-x-auto">
        <div class="card-body p-0">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th
                            class="bg-primary text-primary-content cursor-pointer"
                            (click)="onAddPurchase()"
                        >
                            <div class="flex flex-col items-center">
                                <p class="text-xl">Purchases</p>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-4 h-4 stroke-current"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 4v16m8-8H4"
                                    ></path>
                                </svg>
                            </div>
                        </th>
                        <th
                            class="bg-secondary text-secondary-content cursor-pointer"
                            (click)="onAddSale()"
                        >
                            <div class="flex flex-col items-center">
                                <p class="text-xl">Sales</p>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-4 h-4 stroke-current"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 4v16m8-8H4"
                                    ></path>
                                </svg>
                            </div>
                        </th>
                        <th
                            class="bg-accent text-accent-content cursor-pointer"
                            (click)="onAddExpense()"
                        >
                            <div
                                class="flex flex-col justify-between items-center"
                            >
                                <p class="text-xl">Expenses</p>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-4 h-4 stroke-current"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 4v16m8-8H4"
                                    ></path>
                                </svg>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let period of periods; let i = index">
                        <td class="p-2">
                            <div
                                class="card bg-base-200 shadow-sm hover:shadow-md transition-shadow duration-300"
                            >
                                <div
                                    class="card-body flex flex-col items-center p-3 text-center"
                                >
                                    <p class="text-l font-bold text-primary">
                                        {{ period.purchases | number }}
                                    </p>
                                    <div
                                        class="badge badge-primary badge-outline mt-2"
                                    >
                                        {{ period.title }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-2">
                            <div
                                class="card bg-base-200 shadow-sm hover:shadow-md transition-shadow duration-300"
                            >
                                <div
                                    class="card-body flex flex-col items-center p-3 text-center"
                                >
                                    <p
                                        class="text-l font-bold text-secondary-secondary-content"
                                    >
                                        {{ period.sales | number }}
                                    </p>
                                    <div
                                        class="badge badge-secondary-secondary-content badge-outline mt-2"
                                    >
                                        {{ period.title }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-2">
                            <div
                                class="card bg-base-200 shadow-sm hover:shadow-md transition-shadow duration-300"
                            >
                                <div
                                    class="card-body flex flex-col items-center p-3 text-center"
                                >
                                    <p class="text-l font-bold text-accent">
                                        {{ period.expenses | number }}
                                    </p>
                                    <div
                                        class="badge badge-primary badge-outline mt-2"
                                    >
                                        {{ period.title }}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
