<section
  class="stats stats-vertical col-span-12 w-full shadow-sm xl:stats-horizontal"
>
  <div class="stat">
    <div class="stat-title">Sales Today</div>
    <div class="stat-value">89,400</div>
    <div class="stat-desc">21% more than last month</div>
  </div>

  <div class="stat">
    <div class="stat-title">Sales Yesterday</div>
    <div class="stat-value">89,400</div>
    <div class="stat-desc">21% more than last month</div>
  </div>

  <div class="stat">
    <div class="stat-title">Sales this week</div>
    <div class="stat-value">89,400</div>
    <div class="stat-desc">21% more than last month</div>
  </div>
</section>
