package dashboard

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/components"
	"github.com/kisinga/dukahub/views/layouts"
)

var sellConfig = models.LayoutConfig{
	Title: "Admin Dashboard",
	JS:    nil,
	CSS:   nil,
}

templ Newsale(data *models.DashboardData) {
	@layouts.BaseLayout(config) {
		@layouts.DashboardLayout(data.User, data.Activecompany) {
			@components.Scanner(data.Model)
		}
	}
}
