package dashboard

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/components"
	"github.com/kisinga/dukahub/views/layouts"
)

templ Newsale(data *models.DashboardData) {
	@layouts.BaseLayout("Sell") {
		@layouts.DashboardLayout(data.User, data.Activecompany) {
			@components.Scanner(data.Model)
		}
	}
}
