package pages

templ Dashboard() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Pantrify</title>
			<base href="/"/>
			<link rel="stylesheet" href="/static/tailwind.css"/>
		</head>
		<body></body>
	</html>
}
