<div role="tablist" class="tabs tabs-lifted">
    <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Financial"
    />
    <div
        role="tabpanel"
        class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
        <open-close-financial-page></open-close-financial-page>
    </div>

    <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Stock"
        checked="checked"
    />
    <div
        role="tabpanel"
        class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
        <open-close-products-page></open-close-products-page>
    </div>
</div>
