<div class="flex flex-col items-center">
    <div role="alert" class="alert mb-4 mr-6 ml-6 alert-info">
        <span>{{ customStrings.bannerMessage }}</span>
    </div>
    <ul class="steps steps-horizontal">
        <li class="step step-primary">Financial</li>
        <li class="step">Products</li>
    </ul>

    <div class="bg-base-100">
        @if (activePage === 1) {
            <open-close-financial-page
                [header]="customStrings.header"
                [actionLabel]="customStrings.actionLabel"
                (financialData)="onFinancialDataReceived($event)"
            ></open-close-financial-page>
        }
        @if (activePage === 2) {
            <open-close-products-page
                [header]="customStrings.header"
                [actionLabel]="customStrings.actionLabel"
                (productData)="onProductDataReceived($event)"
            ></open-close-products-page>
        }
    </div>
</div>
