package pages

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/layouts"
)

templ Dashboard(admin *models.Admins) {
	@layouts.BaseLayout() {
		@layouts.DashboardLayout(admin) {
			<script type="module">
				import { DbService } from "./public/pb.js";
				const timeoutId = DbService.scheduleTokenRefresh();
			</script>
		}
	}
}
