package pages

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/layouts"
)

templ Dashboard(data models.DashboardData) {
	@layouts.BaseLayout() {
		@layouts.DashboardLayout(data) {
			<script type="module">
				import { DbService } from "./public/pb.js";
				DbService.refreshAuthToken();
				const timeoutId = DbService.scheduleTokenRefresh();
			</script>
		}
	}
}
