package pages

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/layouts"
)

var registerConfig = models.LayoutConfig{
	Title: "Dukahub Register",
	JS:    nil,
	CSS:   nil,
}

templ Register(data *models.DashboardData) {
	@layouts.BaseLayout(registerConfig) {
		@layouts.DashboardLayout(data.User, data.Activecompany) {
		}
	}
}
