package pages

import (
	"github.com/kisinga/dukahub/models"
	"github.com/kisinga/dukahub/views/layouts"
)

templ Register(data *models.DashboardData) {
	@layouts.BaseLayout("Register") {
		@layouts.DashboardLayout(data.User, data.Activecompany) {
		}
	}
}
