<div class="mx-auto">
  @if (false) {
  <div class="flex justify-center items-center min-h-[200px]">
    <span class="loading loading-spinner loading-lg text-primary"></span>
  </div>
  } @else {

  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th class="bg-base-200 text-base-content">Account</th>
        <th class="bg-base-200 text-base-content">Amount</th>
      </tr>
    </thead>
    <tbody>
      @for (account of mergedCompanyAccounts(); track account.id) {
      <tr class="hover:bg-base-200 transition-colors duration-200">
        <td class="p-4">
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  [src]="generateImageURL(account.accountType, account.icon_id)"
                  [alt]="account.accountType.name"
                  class="object-cover"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">
                {{ account.accountType.name | truncate:11:true }}
              </div>
              <div class="text-sm opacity-70">
                {{ account.account_number | truncate:11:true }}
              </div>
            </div>
          </div>
        </td>
        <td class="p-4">
          <!-- depending on whether the status is open or closed, update the corresponding balance -->
          @if (openCloseState() === 'open') {
          <input
            [(ngModel)]="localaccountBalances[$index].closing_bal"
            type="number"
            class="input input-bordered input-sm w-full max-w-[120px]"
          />
          }@else {
          <input
            [(ngModel)]="localaccountBalances[$index].opening_bal"
            type="number"
            class="input input-bordered input-sm w-full max-w-[120px]"
          />
          }
        </td>
      </tr>
      }
    </tbody>
  </table>

  }
</div>
