package admindashboard

import "github.com/kisinga/dukahub/views/layouts"
import "github.com/kisinga/dukahub/models"

templ Home(admin *models.Admins) {
	@layouts.BaseLayout("Admin Dashboard") {
		@layouts.AdminDashboard(admin)
	}
}
